<!-- --------------------------------------------Botones Edicion------------------------------------------------ -->
<div class="contenedor-botones-edicion" *ngIf="IsLogged">
  <div class="botones-edicion">
    <div class="icono-editar"></div>
    <div class="icono-eliminar"></div>
  </div>
</div>
<!-- -----------------------------------------Fin Botones Edicion------------------------------------------------ -->

<div class="contendor-habilidades">
  <div class="plataforma">
    <h4>{{ item.plataforma}}</h4>
  </div>

  <div class="items-habilidad">
    <hr class="linea-separadora">
    <div *ngFor="let itemTemp of item.listaHabilidad">
      <div>
        <h5 class="habilidad">{{ itemTemp.habilidad }}</h5>
      </div>
      <div>
        <progress class="porcentaje" min="0" max="100" value="{{itemTemp.porcentaje}}"></progress>
      </div>
      <hr class="linea-separadora">
    </div>
  </div>
</div>
<hr>
