<div class="contenedor-login">
  <!--------------------- Cabecera ---------------------->
  <div class="contenedor-cabecera-login">
    <img height="50px" src="../../../assets/imgCabecera/argProg.svg" alt="">
  </div>

  <div>
    <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>

      <!--------------------- Titulo ---------------------->
      <h2>Plataformas</h2>

      <!-- ------------------------------  Agregar ------------------------------------- -->

      <div style="width:100%; display: block;">
        <div>
          <label for="plataforma">Nueva plataforma:</label>
          <input type="text" name="plataforma" id="plataforma" placeholder="Plataforma" [(ngModel)]="nuevaPlataforma.plataforma" required/>
        </div>



      </div>

      <!--------------------- Botones ---------------------->
      <button class="btn-enviar" [disabled]="!f.valid">Enviar</button>
      <hr class="linea-separadora" style="margin-top: 15px;">
      <button type="button" name="cancelar" class="btn-cancelar" routerLink="/">Cancelar</button>

    </form>

  </div>
