.item-experiencia{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-item-experiencia{
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  width: 150px;
  height: 150px;
  background-position: 50%;
  background-size: cover;
}
.contenido-item-experiencia{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 630px;
}

.linea-separadora{
  color: rgb(75, 74, 74);
  margin: 8px 0 8px 0;
}

h2{
  margin: 8px 0 8px 0;
}

h3{
  color: rgb(212, 212, 212);
  margin: 4px 0 4px 0;
}
