<div class="contenedor-habilidades">

  <app-barra-titulos
      [tituloBarra]="tituloBarra"
      [urlIcono]="urlIcono"
  ></app-barra-titulos>

  <app-item-habilidades
    *ngFor="let temp of lista"
    [item]="temp"
    [IsLogged]="IsLogged"
  ></app-item-habilidades>

  <!-- -------------------------------- Boton Edicion ------------------------------------- -->
  <div class="contenedor-botones-edicion" *ngIf="IsLogged">
    <a [routerLink]="['/nueva-habilidad', 'Agregar Habilidad']">
      <div class="icono-agregar"></div>
    </a>
  </div>
  <!-- ------------------------------ Fin Boton Edicion ------------------------------------- -->

</div>
