<div class="contenedor-habilidades">

  <app-barra-titulos
      [tituloBarra]="tituloBarra"
      [urlIcono]="urlIcono"
  ></app-barra-titulos>

  <app-item-habilidades
    *ngFor="let temp of lista"
    [item]="temp"
    [IsLogged]="IsLogged"
  ></app-item-habilidades>

  <!-- -------------------------------- Boton Agregar ------------------------------------- -->
  <div class="contenedor-botones-edicion" *ngIf="IsLogged">
    <a [routerLink]="['/nueva-plataforma']">
      <div class="icono-agregar" style="margin-right: 40px;" ></div>
    </a>
  </div>
  <!-- ------------------------------ Fin Boton Agregar ------------------------------------- -->

</div>
