<!---------------- Cabecera -------------------->
<app-cabecera
    (IsLogged)="IsLogged($event)"
></app-cabecera>
<!---------------- Experiencia -------------------->
<app-experiencia-educacion
    (actualizarItem)="actualizarItem($event)"
    [IsLogged]="isLogged"
    [lista]="itemsExperiencia"
    [tituloBarra]="tituloBarraExperiencia"
    [urlIcono]="urlIconoExperiencia"
></app-experiencia-educacion>

<!---------------- Educacion -------------------->
<app-experiencia-educacion
    (actualizarItem)="actualizarItem($event)"
    [IsLogged]="isLogged"
    [lista]="itemsEducacion"
    [tituloBarra]="tituloBarraEducacion"
    [urlIcono]="urlIconoEducacion"
></app-experiencia-educacion>

<app-proyectos
    (actualizarItemProyecto)="actualizarItemProyecto($event)"
    [IsLogged]="isLogged"
    [lista]="itemsProyecto"
    [tituloBarra]="tituloBarraProyectos"
    [urlIcono]="urlIconoProyectos"
></app-proyectos>

<!---------------- Habilidades -------------------->
<app-habilidades
    [IsLogged]="isLogged"
    [lista]="itemsHabilidad"
    [tituloBarra]="tituloBarraHabilidades"
    [urlIcono]="urlIconoHabilidades"
></app-habilidades>

