<!---------------- Cabecera -------------------->
<app-cabecera
    (IsLogin)="IsLogin($event)"
></app-cabecera>
<!---------------- Experiencia -------------------->
<app-experiencia-educacion
    [IsLogin]="isLogin"
    [lista]="itemsExperiencia"
    [tituloBarra]="tituloBarraExperiencia"
    [urlIcono]="urlIconoExperiencia"
></app-experiencia-educacion>

<!---------------- Educacion -------------------->
<app-experiencia-educacion
    [IsLogin]="isLogin"
    [lista]="itemsEducacion"
    [tituloBarra]="tituloBarraEducacion"
    [urlIcono]="urlIconoEducacion"
></app-experiencia-educacion>

<app-proyectos
    [IsLogin]="isLogin"
    [lista]="itemsProyecto"
    [tituloBarra]="tituloBarraProyectos"
    [urlIcono]="urlIconoProyectos"
></app-proyectos>

<!---------------- Habilidades -------------------->
<app-habilidades
    [IsLogin]="isLogin"
    [lista]="itemsHabilidad"
    [tituloBarra]="tituloBarraHabilidades"
    [urlIcono]="urlIconoHabilidades"
></app-habilidades>
