<div class="contenedor-login">
  <div class="contenedor-cabecera-login">
    <img height="50px" src="../../../assets/imgCabecera/argProg.svg" alt="">
  </div>

  <div>
    <form action="">

      <div>
        <label for="usuario">Usuario</label>
        <input type="text" name="usuario" id="" placeholder="Usuario" />
      </div>

      <div>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="" placeholder="Contraseña">
      </div>

      <button type="submit" name="submit">Login</button>

      <button type="button" name="cancelar" class="btn-cancelar" routerLink="/">Cancelar</button>
    </form>


  </div>

</div>
