<app-barra-titulos
      [tituloBarra]="tituloBarra"
      [urlIcono]="urlIcono"
  ></app-barra-titulos>
  <app-item-proyecto
    *ngFor="let item of lista; let i = index"
    [item]="item"
    [i]="i"
    [lista]="lista"
    [IsLogin]="IsLogin"
  ></app-item-proyecto>

  <!-- -------------------------------- Boton Edicion ------------------------------------- -->
  <div class="contenedor-botones-edicion" *ngIf="IsLogin">
    <img src="../../../../assets/imgPagina/icono-agregar.svg" class="icono-agregar">
  </div>
  <!-- ------------------------------ Fin Boton Edicion ------------------------------------- -->
