<app-barra-titulos
      [tituloBarra]="tituloBarra"
      [urlIcono]="urlIcono"
  ></app-barra-titulos>
  <app-item-proyecto
    *ngFor="let item of lista; let i = index"
    [item]="item"
    [i]="i"
    [lista]="lista"
    [IsLogged]="IsLogged"
  ></app-item-proyecto>

  <!-- -------------------------------- Boton Edicion ------------------------------------- -->
  <div class="contenedor-botones-edicion" *ngIf="IsLogged">
    <div class="icono-agregar"></div>
  </div>
  <!-- ------------------------------ Fin Boton Edicion ------------------------------------- -->
