<app-barra-titulos
      [tituloBarra]="tituloBarra"
      [urlIcono]="urlIcono"
  ></app-barra-titulos>
  <app-item-proyecto
  (actualizarItemProyecto)="emitirActualizarItemProyecto($event)"
    *ngFor="let item of lista; let i = index"
    [item]="item"
    [i]="i"
    [lista]="lista"
    [IsLogged]="IsLogged"
  ></app-item-proyecto>

  <!-- -------------------------------- Boton Edicion ------------------------------------- -->
  <div class="contenedor-botones-edicion" *ngIf="IsLogged">
    <button>
      <a [routerLink]="['/editar-proyecto', 'Agregar Proyecto']">
      <div class="icono-agregar" ></div>
    </a>
    </button>
  </div>
  <!-- ------------------------------ Fin Boton Edicion ------------------------------------- -->
