.contenedor-login{
  width: 100%;
  background:#343434;
  padding-bottom: 10px;
}

.contenedor-cabecera-login{
  display: flex;
}

h2{
  text-align: center;
  margin-bottom: 15px;
}

.linea-separadora {
  color: rgb(75, 74, 74);
  border: 1.5px solid rgb(75, 74, 74);
  margin-top: 8px;
  margin-bottom: 8px;
}

form{
  margin: 30px;
}

.imagen-miniatura{
  margin-right: 20px;
  background-position: 50%;
  background-size: cover;

}

label, input, button, textarea{
  font-size: 18px;
}

label{
  height: 40px;
  vertical-align: middle;
}

input{
  height: 40px;
  width: 100%;

  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.texto-input-file{
  font-style: italic;
  color: gray;
  margin-top: -20px;
  margin-bottom: 20px;
}

button{
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: #304784;
  color: white;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  cursor: auto;
  border: 1px solid #999999;
  background-color: #334168;
  color: #666666;
}

.btn-cancelar{
  background: darkgray;
}

.campoObligatorio{
  display: inline-block;
  padding: 5px;
  color: black;
  background: rgb(248, 186, 186);
}


/* .boton-url input[type="file"]{
  color: rgb(199, 199, 199);
  font-weight: bold;
  font-size: large;

  text-align: center;
  vertical-align: middle;

  cursor: pointer;
}
.boton-url:hover{
  background: #554e4e;
  transition: 1s;
} */

/* @media screen and (max-width: 600px) {
  .contenedor-login{
    width: 100%;
  }
} */

.miniatura-imagen{
  background-size: cover;
  background-position: 50%;
  margin-right: 8px;
  width: 80px;
  height: 80px;
  /* border: 1px solid white; */
}

.contenedor-input-file{
  margin-top: 15px;
  height: 100%;
  display: flex;
  align-content: center;
}

textarea{
  width: 100%;
  resize:none;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}
