.logoCargando{
  margin-top: 30px;
  width: 80px;
  height: 80px;

  background-image: url('src/assets/imgPagina/cargando.gif');
  background-size: cover;

  border: 0px;

}
.contenedor-elementos-cargando{
  display: flex;
  justify-items: center;
  flex-direction: column;
}
.contenedor-cargando{
  display: flex;
  justify-content: center;
}

.contenedor-texto-cargando{
  margin-top: 5px;
}
