<div class="hoja">
  <!---------------- Cabecera -------------------->
  <app-cabecera></app-cabecera>

  <!---------------- Experiencia -------------------->
  <app-experiencia-educacion
      [lista]="items"
      [tituloBarra]="tituloBarraExperiencia"
      [urlIcono]="urlIconoExperiencia"
  ></app-experiencia-educacion>

  <!---------------- Educacion -------------------->
  <app-experiencia-educacion
      [lista]="itemsEducacion"
      [tituloBarra]="tituloBarraEducacion"
      [urlIcono]="urlIconoEducacion"
  ></app-experiencia-educacion>

  <app-proyectos
      [tituloBarra]="tituloBarraProyectos"
      [urlIcono]="urlIconoProyectos"
  ></app-proyectos>

  <!---------------- Habilidades -------------------->
  <app-habilidades
    [tituloBarra]="tituloBarraHabilidades"
    [urlIcono]="urlIconoHabilidades"
  ></app-habilidades>

</div>

<router-outlet></router-outlet>
