<div class="contenedor-login">
  <!--------------------- Cabecera ---------------------->
  <div class="contenedor-cabecera-login">
    <img height="50px" src="../../../assets/imgCabecera/argProg.svg" alt="">
  </div>

  <div class="contenedor-habilidades">
    <!--------------------- Titulo ---------------------->
    <h2>{{accion}}</h2>
    <!---------------------  ---------------------->
    <div class="items-habilidad">


      <div *ngIf="habilidad">
        <div *ngFor="let itemTemp of habilidad" class="contenedor-items">
          <div class="items">
            <h5 class="habilidad">{{ itemTemp.habilidad }}</h5>
            <!-- barra porcentaje -->
            <progress class="porcentaje" min="0" max="100" value="{{itemTemp.porcentaje}}"></progress>
            <hr class="linea-separadora">
          </div>

          <div class="contenedor-botones-edicion">
            <!---------- Boton Editar ----------->
            <!---------- path: 'editar-experiencia-educacion/:accion/:id' -------------->
            <button>
              <a>
                <!-- [routerLink]="['/editar-experiencia-educacion', 'Editar ' + tituloBarra, item.id]" -->
                <div class="icono-editar" (click)="onEditar(itemTemp.id,itemTemp.habilidad, itemTemp.porcentaje)"></div>
              </a>
            </button>

            <!---------- Boton Eliminar ----------->
            <button>
              <!-- (click)="onEliminar(tituloBarra, item.id)" -->
              <div class="icono-eliminar" (click)="onEliminar(itemTemp.id)"></div>
            </button>
          </div>

        </div>

        <!-- ------------------------------  Agregar ------------------------------------- -->

        <div style="width:100%; display: block;">
          <form (ngSubmit)="onAgregarHabilidad()" #f1="ngForm" novalidate>
            <h3 style="margin-top: 8px;margin-bottom: 8px;">Agregar</h3>
            <div>
              <label for="habilidad">Habilidad*:</label>
              <input type="text" name="habilidad" id="habilidad" placeholder="Habilidad"
                [(ngModel)]="datosAgregar.habilidad" required />
            </div>

            <!-- <h4 class="habilidad">{{datosEditar.habilidad}}</h4> -->

            <div>
              <label for="porcentaje">Porcentaje Habilidad: {{datosAgregar.porcentaje}}</label>
              <input type="range" name="porcentaje" id="" placeholder="Porcentaje Habilidad"
                [(ngModel)]="datosAgregar.porcentaje" required />
            </div>

            <!--------------------- Botones ---------------------->
            <p *ngIf="!f1.valid">(*) Campo oblitatorio</p>
            <button class="boton-aceptar" [disabled]="!f1.valid">Agregar Habilidad</button>
          </form>


          <hr class="linea-separadora" style="margin-top: 15px;">

          <!-- ------------------------------  Editar nombre ------------------------------------- -->
          <form (ngSubmit)="onEditarGrupoHabilidad()" #f2="ngForm" novalidate>
            <div style="width:100%; display: block;">
              <h3 style="margin-top: 8px;margin-bottom: 8px;">Editar Grupo Habilidad</h3>
              <div>
                <label for="habilidad">Nombre*:</label>
                <input type="text" name="habilidad" id="habilidad" placeholder="Grupo Habilidad"
                  [(ngModel)]="grupoHabilidad" (ngModelChange)="onChangeNombre()" required />
              </div>
              <!--------------------- Botones ---------------------->
              <p *ngIf="!f2.valid">(*) Campo oblitatorio</p>
              <button class="boton-aceptar" [disabled]="!f2.valid || !validEditarNombre">Cambiar nombre</button>
              <button type="button" class="boton-eliminar" style="background-color: #ad6258;"
                (click)="onEliminarGrupoHabilidad()" [disabled]="!f2.valid || !validEditarNombre">Eliminar grupo
                habilidad</button>
            </div>
          </form>


        </div>

        <hr class="linea-separadora" style="margin-top: 15px;">


      </div>

      <!--------------------- Botones ---------------------->
      <button type="button" name="cancelar" class="btn-cancelar" routerLink="/">Salir</button>

    </div>

  </div>

  <!-------------------------------- Modal ----------------------------------------->
  <div class="modal" *ngIf="bannerActivo">
    <form (ngSubmit)="onAceptarEdicion(datosEditar.id)" #f3="ngForm" novalidate>
      <div class="contenedor-editar-item">
        <div class="editar-item">
          <div>
            <label for="habilidad">Habilidad:</label>
            <input type="text" name="habilidad" id="habilidad" placeholder="Habilidad"
              [(ngModel)]="datosEditar.habilidad" required/>
          </div>

          <!-- <h4 class="habilidad">{{datosEditar.habilidad}}</h4> -->

          <div>
            <label for="porcentaje">Porcentaje Habilidad: {{datosEditar.porcentaje}}</label>
            <input type="range" name="porcentaje" id="" placeholder="Porcentaje Habilidad"
              [(ngModel)]="datosEditar.porcentaje" />
          </div>

          <hr class="linea-separadora">

          <!--------------------- Botones ---------------------->
          <p *ngIf="!f3.valid">(*) Campo oblitatorio</p>
          <button class="boton-aceptar" [disabled]="!f3.valid">Enviar</button>
          <button type="button" name="cancelar" class="btn-cancelar" (click)="bannerActivo=false">Cancelar</button>

        </div>
      </div>
    </form>

  </div>
