.contenedor-login {
  width: 100%;
  background: #343434;
  padding-bottom: 10px;
}

.contenedor-cabecera-login {
  display: flex;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.contenedor-habilidades {
  margin: 30px;
}

.contenedor-agregar-imagen {
  display: flex;
  flex-direction: column;
}

.imagen-miniatura {
  margin-right: 20px;
  background-position: 50%;
  background-size: cover;

}

label,
input,
button {
  font-size: 18px;
}

label {
  height: 40px;
  vertical-align: middle;
}

input {
  height: 40px;
  width: 100%;

  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.texto-input-file {
  font-style: italic;
  color: gray;
  margin-top: -20px;
  margin-bottom: 20px;
}

.boton-aceptar{
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: #5a83a7;
  color:black;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

.boton-eliminar{
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: #ad6258;
  color:black;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  cursor: auto;
  border: 1px solid #999999;
  background-color: #475766;
  color: #ece2e2;
}

button {
  border: none;
}

.btn-cancelar {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: #304784;
  color: white;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  background: darkgray;
}

.campoObligatorio {
  display: inline-block;
  padding: 5px;
  color: black;
  background: rgb(248, 186, 186);
}

.items-habilidad {
  display: flex;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-grow: 3;
  flex-direction: column;
}

.habilidad {
  margin-top: 3px;
  margin-bottom: 10px;
}

.porcentaje {
  background: #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 300px;
}

/* For Firefox */
progress::-moz-progress-bar {
  background: 304784;
}

/* For Chrome or Safari */
progress::-webkit-progress-value {
  background: 304784;
}

/* For IE10 */
progress {
  background: 304784;

}

.linea-separadora {
  color: rgb(75, 74, 74);
  width: 98%;
}

.contenedor-items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.contenedor-botones-edicion {
  width: auto;
  display: flex;
  flex-direction: row;
}

button {
  background: none;
}

/* div{
  border: 1px solid white;
} */

/* The Modal (background) */
.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

.contenedor-editar-item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.editar-item{
  display: flex;
  flex-direction: column;
  background: #343434;
  padding: 20px;
}



/* -------------------------------------------- */
@media screen and (max-width: 600px) {
  .porcentaje {
    width: 180px;
  }
}



input[type=range] {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #74A9D8;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #74A9D8;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #74A9D8;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #74A9D8;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #74A9D8;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #74A9D8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #74A9D8;
}

input[type=range]{
  background: transparent;
}
