
<div class="contenedor-experiencia">

  <app-barra-titulos
      [tituloBarra]="tituloBarra"
      [urlIcono]="urlIcono"
  ></app-barra-titulos>

  <app-item-experiencia-educacion
    [tituloBarra]="tituloBarra"
    [IsLogged]="IsLogged"
    *ngFor="let itemLista of lista; let i = index"
    [item]="itemLista" [i]="i" [lista]="lista">
  </app-item-experiencia-educacion>

  <!-- -------------------------------- Boton Edicion ------------------------------------- -->
  <div class="contenedor-botones-edicion" *ngIf="IsLogged">
    <button>
      <a [routerLink]="['/editar-experiencia-educacion', 'Agregar ' + tituloBarra]">
      <div class="icono-agregar" ></div>
    </a>
    </button>
  </div>
  <!-- ------------------------------ Fin Boton Edicion ------------------------------------- -->

</div>
