<!-- --------------------------------------------Botones Edicion------------------------------------------------ -->
<div class="contenedor-botones-edicion" *ngIf="IsLogged">
  <div class="botones-edicion">
    <div class="icono-editar"></div>
    <div class="icono-eliminar"></div>
  </div>
</div>
<!-- -----------------------------------------Fin Botones Edicion------------------------------------------------ -->

<div class="item-experiencia">
  <div *ngIf="item.url !==''">
    <div (click)="activarModal(item.url)" class="logo-item-experiencia"
      style="background-image: url('{{ item.url }}');"></div>
  </div>
  <div class="contenido-item-experiencia">
    <h2>{{ item.titulo }}</h2>

    <hr class="linea-separadora">

    <h3>{{ item.programa }}</h3>

    <hr class="linea-separadora">

    <p>{{ item.anio }}</p>

    <hr class="linea-separadora">

    <p>{{ item.texto }}</p>

  </div>
</div>

<div *ngIf="i < lista.length-1">
  <hr>
</div>

<!------------------------ Modal -------------------------------->
<div class="modal" (click)="desactivarModal()" *ngIf="verModal">
  <div class="modal-content">
    <!-- <span class="close">&times;</span> -->
    <div class="boton-cerrar"></div>
    <img src="{{ urlImagenModal }}" class="imagen" height="80%">
  </div>
</div>
<!---------------------- Fin modal -------------------------------->
