<!-- --------------------------------------------Botones Edicion------------------------------------------------ -->
<div class="contenedor-botones-edicion" *ngIf="IsLogged">
  <div class="botones-edicion">

    <!---------- Boton Editar ----------->
    <!---------- path: 'editar-experiencia-educacion/:accion/:id' -------------->
    <button>
      <a [routerLink]="['/editar-proyecto', 'Editar Proyecto', item.id]">
        <div class="icono-editar"></div>
      </a>
    </button>

    <!---------- Boton Eliminar ----------->
    <button (click)="onEliminar(item.id)">
      <div class="icono-eliminar"></div>
    </button>
  </div>
</div>
<!-- -----------------------------------------Fin Botones Edicion------------------------------------------------ -->

<div class="item-experiencia">
  <div *ngIf="item.imagen">
    <div *ngIf="item.imagen.imagenUrl !==''">
      <div (click)="activarModal(item.imagen.imagenUrl)" class="logo-item-experiencia"
        style="background-image: url('{{ item.imagen.imagenUrl }}');"></div>
    </div>
  </div>

  <div class="contenido-item-experiencia">
    <h2>{{ item.nombreProyecto }}</h2>

    <hr class="linea-separadora">

    <h3>{{ item.programa }}</h3>

    <hr class="linea-separadora">

    <p>{{ item.anio }}</p>

    <hr class="linea-separadora">

    <div *ngIf="item.repositorioGit != ''">
      <p> Link repositorio GitHub: <a target="_blank" href="{{item.repositorioGit}}">{{item.repositorioGit}}</a></p>
      <hr class="linea-separadora">
    </div>

    <p>{{ item.anio }}</p>

    <hr class="linea-separadora">

    <p>{{ item.texto }}</p>

  </div>
</div>

<div *ngIf="i < lista.length-1">
  <hr>
</div>

<!------------------------ Modal -------------------------------->
<div class="modal" (click)="desactivarModal()" *ngIf="verModal">
  <div class="modal-content">
    <!-- <span class="close">&times;</span> -->
    <div class="boton-cerrar"></div>
    <img src="{{ urlImagenModal }}" class="imagen" height="80%">
  </div>
</div>
<!---------------------- Fin modal -------------------------------->
