/* The Modal (background) */
.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;

}

.logoCargando{
  margin-top: 30px;
  width: 80px;
  height: 80px;

  background-image: url('../../../assets/imgPagina/cargando.gif');
  background-size: cover;

  border: 0px;

}
.contenedor-elementos-cargando{
  display: flex;
  justify-items: center;
  flex-direction: column;
}
.contenedor-cargando{
  display: flex;
  justify-content: center;
}

.contenedor-texto-cargando{
  margin-top: 5px;
}
