<div class="contenedor-login">
  <!--------------------- Cabecera ---------------------->
  <div class="contenedor-cabecera-login">
    <img height="50px" src="../../../assets/imgCabecera/argProg.svg" alt="">
  </div>

  <div>
    <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>

      <!--------------------- Titulo ---------------------->
      <h2>{{accion}}</h2>

      <!--------------------- Nombre Proyecto ---------------------->
      <div>
        <label for="titulo">Nombre Proyecto*</label>
        <input type="text" name="titulo" id="" placeholder="Nombre proyecto" [(ngModel)]="nombreProyecto" required />
      </div>

      <!--------------------- Programa ---------------------->
      <div>
        <label for="software">Software*</label>
        <input type="text" name="software" id="" placeholder="Software" [(ngModel)]="programa" required />
      </div>

      <!--------------------- Año ---------------------->
      <div>
        <label for="anio">Año*</label>
        <input type="text" name="anio" id="" placeholder="Año" [(ngModel)]="anio" required />
      </div>

      <!--------------------- Nombre Proyecto ---------------------->
      <div>
        <label for="repositorioGit">Repositorio Git</label>
        <input type="text" name="repositorioGit" id="" placeholder="Repositorio Git" [(ngModel)]="repositorioGit" />
      </div>

      <!--------------------- Agregar Imagen ---------------------->
      <div class="contenedor-input-file">
        <div *ngIf="imagenFile" style="background-image: url({{imgMiniatura}});" class="miniatura-imagen"></div>
        <div *ngIf="!imagenFile && modoEdicion && imagenUrl !=''"
          style="background-image: url({{imagenUrl}});" class="miniatura-imagen"></div>
        <div>
          <div>
            <div>
              <label for="url" *ngIf="!imagenFile || imagenUrl ==''; else cambiarImagen">Agregar imagen</label>
              <ng-template #cambiarImagen>
                <label for="url">Cambiar imagen</label>
              </ng-template>
            </div>

            <input type="file" class="boton-url" name="boton-url" id="" placeholder="Url imagen"
              (change)="onFileChange($event,inputUrl.value)" accept="image/png, image/jpeg, image/gif" #inputUrl />
            <p class="texto-input-file">(Tamaño maximo imagen: 1 MB)</p>
          </div>
        </div>
      </div>
      <!------------ Boton quitar imagen ------------>
      <div *ngIf="imagenFile || imagenUrl !=''">
        <button class="btn-cancelar" style="margin-top: -20px;margin-bottom: 20px;" (click)="quitarImagen()">Quitar
          imagen</button>
      </div>
      <!----------------------------- Fin Agregar Imagen ----------------------------->

      <!--------------------- Descripcion ---------------------->
      <div>
        <label for="texto">Descripcion</label>
        <input type="text" name="texto" id="" placeholder="Descripcion" [(ngModel)]="texto"/>
      </div>

      <!--------------------- Botones ---------------------->
      <button type="submit" [disabled]="!f.valid">Enviar</button>
      <button type="button" name="cancelar" class="btn-cancelar" routerLink="/">Cancelar</button>

    </form>


  </div>

