/* div{
  border: 1px solid gray;
} */
.item-experiencia{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}
.contenedor-logo-item-experiencia{
  min-width: 150px;
  max-width: 200px;
  height: 150px;
  flex-grow: 1;
}
.logo-item-experiencia{
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  min-width: 150px;
  max-width: 200px;
  height: 150px;
  background-position: 50%;
  background-size: cover;

}
.contenido-item-experiencia{
  display: block;
  padding: 20px;
  min-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-grow: 3;
  /* width: 630px; */
}

.linea-separadora{
  color: rgb(75, 74, 74);
  margin: 8px 0 8px 0;
}

h2{
  margin: 8px 0 8px 0;
}

h3{
  color: rgb(212, 212, 212);
  margin: 4px 0 4px 0;
}

@media screen and (max-width: 600px) {
  .item-experiencia{
    flex-wrap: wrap;
  }

}

/* quitar estilo a botones */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
   -webkit-appearance: button; /* for input */
     -moz-user-select: none;
      -ms-user-select: none;
}
