<!-- --------------------------------------------Botones Edicion------------------------------------------------ -->
<div class="contenedor-botones-edicion" *ngIf="IsLogin">
  <div class="botones-edicion">
    <div (click)="onEditar()" class="icono-editar"></div>
    <div class="icono-cerrar"></div>
  </div>
</div>
<!-- -----------------------------------------Fin Botones Edicion------------------------------------------------ -->

<div class="item-experiencia">
  <div *ngIf="item.url !== null">
    <div class="logo-item-experiencia" style="background-image: url('{{ item.url }}');"></div>
  </div>

  <div class="contenido-item-experiencia">
    <h2>{{ item.titulo }}</h2>

    <hr class="linea-separadora">

    <h3>{{ item.lugar }}</h3>

    <hr class="linea-separadora">

    <p>{{ item.periodo }}</p>

    <hr class="linea-separadora">

    <p>{{ item.texto }}</p>

  </div>
</div>

<div *ngIf="i < lista.length-1">
  <hr>
</div>
