*{
  margin: 0px;
  padding: 0px;
}
div{
  /* border: 1px solid white; */
  color: white;
}

.centrar-contenido{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  display: flex;
  justify-content: center;
  background: black;
  font-family: 'Source Sans Pro', sans-serif;
}
.hoja{
  width: 100%;
  max-width: 900px;
  background: #212121;
}
