*{
  margin: 0px;
  padding: 0px;
}
div{
  /* border: 1px solid white; */
  color: white;
}

.centrar-contenido{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  display: flex;
  justify-content: center;
  background: black;
  font-family: 'Source Sans Pro', sans-serif;
}
.hoja{
  width: 100%;
  max-width: 900px;
  background: #212121;
}
.boton-edicion{
  position:relative;
  width: 100%;
  height: 100%;
}
.icono-editar,
.icono-agregar{
  cursor: pointer;
  position: absolute;
  opacity: 0.8;
  width: 70px;
  right: 20px;
}

.icono-editar{
  top: 20px;
}

.icono-agregar{
  bottom: 20px;
}
