<header>

  <div class="header-arriba">

    <!------------------------- Cabecera arriba izquierda --------------------------------->
    <!------------------------- Logo Argentina Programa --------------------------------->
    <div class="header-arriba-izquierda">
      <a href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa" target="_blank">
        <div class="contenedorArgProg">
          <img height="50px" src="../../../assets/imgCabecera/argProg.svg" alt="">
        </div>
      </a>
    </div>

    <!------------------------- Cabecera arriba derecha --------------------------------->
    <nav class="header-arriba-derecha">
      <div class="botones-menu" #botonesMenu>

        <!------------------------- Boton Login --------------------------------->
        <button class="botonLogin">
          <a (click)="onLoginPress()">{{ logInLogOut }}</a>
        </button>

        <!------------------------- Boton Facebook --------------------------------->
        <button>
          <a href="{{urlFacebook}}" target="_blank">
            <div class="contenedor-boton-face">
              <img width="30px" height="30px" src="../../../assets/imgCabecera/logoFace.png" alt="">
            </div>
          </a>
        </button>

        <!------------------------- Boton Github --------------------------------->
        <button>
          <a href="{{urlGitHub}}" target="_blank">
            <div class="contenedor-boton-gitHub">
              <img height="30px" src="../../../assets/imgCabecera/logoGitHub.svg" alt="">
            </div>
          </a>
        </button>

      </div>

      <!------------------------- Boton navbar --------------------------------->
      <button>
        <div class="contenedor-boton-menu" (click)="accionMenu()">
          <img src="../../../assets/imgCabecera/icono-menu.svg" alt="">
        </div>
      </button>

    </nav>
  </div>

  <!-- --------------------------- Boton Edicion----------------------------------------- -->
  <div class="contenedor-botones-edicion" *ngIf="isLogged">
    <button routerLink="/editar-cabecera">
      <div class="botones-edicion">
        <div class="icono-editar"></div>
      </div>
    </button>

  </div>
  <!-- --------------------------- Fin Boton Edicion----------------------------------------- -->

  <!------------------------------ Foto Portada --------------------------------->
  <div class="contenedor-portada centrar-contenido">
    <div class="portada" style="background-image: url('{{imagenPortadaUrl}}');"></div>
  </div>

  <!------------------------------ Foto Perfil --------------------------------->
  <div class="contenedor-perfil-y-nombre centrar-contenido">
    <div class="contenedor-perfil">
      <div class="perfil centrar-contenido">
        <div class="foto-perfil" style="background-image: url('{{imagenPerfilUrl}}');"></div>
      </div>
    </div>

    <!------------------------------ Nombre y profesion --------------------------------->
    <div class="contenedor-nombre-profesion">
      <div class="nombre-profesion">
        <h2>{{ nombre }}</h2>
        <h2>{{ profesion }}</h2>
      </div>
    </div>
  </div>

  <!------------------------------ Acerca de --------------------------------->
  <div *ngIf="texto !== ''" class="contenedor-acerca-de">

    <div class="contenedor-texto-acerca-de">
      <span class="acerca-de">Acerca de: </span>{{ texto }}
    </div>

  </div>

</header>
