<header>

  <div class="header-arriba">

    <!------------------------- Cabecera arriba izquierda --------------------------------->
    <!------------------------- Logo Argentina Programa --------------------------------->
    <div class="header-arriba-izquierda">
      <a href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa">
        <div class="contenedorArgProg">
          <img height="50px" src="../../../assets/imgCabecera/argProg.svg" alt="">
        </div>
      </a>
    </div>

    <!------------------------- Cabecera arriba derecha --------------------------------->
    <nav class="header-arriba-derecha">
      <div class="botones-menu" #botonesMenu>

        <!------------------------- Boton Login --------------------------------->
        <button class="botonLogin">
          <a (click)="onLoginPress()">{{ logInLogOut }}</a>
        </button>

        <!------------------------- Boton Facebook --------------------------------->
        <button>
          <a href="https://www.facebook.com/Mauro-L-Peralta-209077402807305/" target="_blank">
            <div class="contenedor-boton-face">
              <img width="30px" height="30px" src="../../../assets/imgCabecera/logoFace.png" alt="">
            </div>
          </a>
        </button>

        <!------------------------- Boton Github --------------------------------->
        <button>
          <a href="https://github.com/mauro-mauro" target="_blank">
            <div class="contenedor-boton-gitHub">
              <img height="30px" src="../../../assets/imgCabecera/logoGitHub.svg" alt="">
            </div>
          </a>
        </button>

      </div>

      <!------------------------- Boton navbar --------------------------------->
      <button>
        <div class="contenedor-boton-menu" (click)="accionMenu()">
          <img src="../../../assets/imgCabecera/icono-menu.svg" alt="">
        </div>
      </button>

    </nav>
  </div>

  <!-- --------------------------- Boton Edicion----------------------------------------- -->
  <div class="contenedor-botones-edicion" *ngIf="isLogged">
    <button>
      <div class="botones-edicion">
        <div class="icono-editar"></div>
      </div>
    </button>

  </div>
  <!-- --------------------------- Fin Boton Edicion----------------------------------------- -->

  <!------------------------------ Foto Portada --------------------------------->
  <div class="contenedor-portada centrar-contenido">
    <div class="portada"></div>
  </div>

  <!------------------------------ Foto Perfil --------------------------------->
  <div class="contenedor-perfil-y-nombre centrar-contenido">
    <div class="contenedor-perfil">
      <div class="perfil centrar-contenido">
        <div class="foto-perfil"></div>
      </div>
    </div>

    <!------------------------------ Acerca de --------------------------------->
    <div class="contenedor-acerca-de">
      <div class="acerca-de">
        <h2>Mauro Luis Peralta</h2>
        <h2>{{ '{' }}Full Stack Developer Jr.{{ '}' }}</h2>
      </div>
    </div>
  </div>

</header>
