<header>


  <div class="header-arriba">
    <div class="header-arriba-izquierda">
      <div class="contenedorArgProg">
        <img height="50px" src="../../../assets/imgCabecera/argProg.svg" alt="">
      </div>
    </div>
    <nav class="header-arriba-derecha">
      <div class="botones-menu" #botonesMenu>
        <button class="botonLogin" (click)="onLogin()" #botonLogin>{{ logInLogOut }}</button>
        <!-- routerLink="/login"  -->
        <div class="contenedor-boton-face">
          <img width="30px" height="30px" src="../../../assets/imgCabecera/logoFace.png" alt="">
        </div>
        <div class="contenedor-boton-gitHub">
          <img height="30px" src="../../../assets/imgCabecera/logoGitHub.svg" alt="">
        </div>
      </div>
      <div class="contenedor-boton-menu" (click)="accionMenu()">
        <img src="../../../assets/imgCabecera/icono-menu.svg" alt="">
      </div>
    </nav>
  </div>

  <!-- ----------------------------------Boton Edicion----------------------------------------- -->
  <div class="contenedor-botones-edicion" *ngIf="isLogin">
    <div class="botones-edicion">
      <div class="icono-editar"></div>
    </div>
  </div>
  <!-- --------------------------------Fin Boton Edicion----------------------------------------- -->

  <div class="contenedor-portada centrar-contenido">
    <div class="portada"></div>
  </div>

  <div class="contenedor-perfil-y-nombre centrar-contenido">
    <div class="contenedor-perfil">
      <div class="perfil centrar-contenido">
        <div class="foto-perfil"></div>
      </div>
    </div>

    <div class="contenedor-acerca-de">
      <div class="acerca-de">
        <h2>Mauro Luis Peralta</h2>
        <h2>{{ '{' }}Full Stack Developer Jr.{{ '}' }}</h2>
      </div>
    </div>
  </div>

</header>
