/* --------------HEADER------------------- */
/*div{
  border: 1px solid white;
}*/
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header-arriba{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.header-arriba-derecha{
  display: flex;
  flex-flow: row;
  align-items: center;
  flex-direction: row-reverse;
}

.contenedor-boton-menu{
  display: none;
}

.botonLogin{
  height: 50px;
  width: 90px;
  border: 0;
  background: transparent;
  color: rgb(199, 199, 199);
  font-weight: bold;
  font-size: large;

  text-align: center;
  vertical-align: middle;

  cursor: pointer;
}
.botonLogin:hover{
  background: #554e4e;
  transition: 1s;
}
.contenedor-boton-face,
.contenedor-boton-gitHub{
  margin-right: 8px;
  cursor: pointer;
}

.botones-menu{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.contenedor-portada{
  width: 100%;
}
.portada{
  width:100%;
  height: 270px;

  background-image: url("../../../assets/imgCabecera/portada3.svg");
  background-position: 50% 50%;
  background-size: cover;
}

/* ------------------ Perfil -------------------- */
.contenedor-perfil-y-nombre{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-perfil{
  width: 200px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
.perfil{
  margin-top: -100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: black;
  flex-grow: 1;
}
.foto-perfil{
  width: 180px;
  height: 180px;
  border-radius: 50%;

  background-image: url("../../../assets/imgCabecera/perfil.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

/*  ------------------ Acerca de -------------------- */
.contenedor-acerca-de{
  flex-grow: 3;
}
.acerca-de{
  padding: 15px;
  /* width: 639px; */
}

@media screen and (max-width: 600px){
  .header-arriba-derecha{
    right: 0;
    flex-flow: column-reverse;
    position: absolute;
    z-index: 1;
  }

  .contenedor-boton-menu{
    display: block;
    height: 50px;
    width: 90px;

    cursor: pointer;
  }

  .contenedor-boton-gitHub,
  .contenedor-boton-face,
  .botonLogin{
    height: 50px;
    width: 90px;
    background: black;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .botones-menu{
    display: none;
    flex-direction: column-reverse;
  }

  .contenedor-acerca-de{
    text-align: center;
  }
}
